<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Smooch+Sans:wght@200;300;400;500;600;700;800&family=Volkhov:wght@400;700&display=swap');
</style>
/**font family**/
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Smooch Sans', sans-serif;
font-family: 'Volkhov', serif;